.uTurnToLeft {
    position: absolute;
    top: 18px;
    left: 15px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.moreThanIcon {
    position: absolute;
    top: 216px;
    left: 306px;
    width: 18px;
    height: 19.1px;
    object-fit: contain;
}
.moreThanIcon1 {
    position: absolute;
    top: 479px;
    left: 306px;
    width: 18px;
    height: 19.1px;
    object-fit: contain;
}
.moreThanIcon2 {
    position: absolute;
    top: 541px;
    left: 306px;
    width: 18px;
    height: 19.1px;
    object-fit: contain;
}
.moreThanIcon3 {
    position: absolute;
    top: 603px;
    left: 306px;
    width: 18px;
    height: 19.1px;
    object-fit: contain;
}
.moreThanIcon4 {
    position: absolute;
    top: 278px;
    left: 306px;
    width: 18px;
    height: 19.1px;
    object-fit: contain;
}
.moreThanIcon5 {
    position: absolute;
    top: 345px;
    left: 306px;
    width: 18px;
    height: 19.1px;
    object-fit: contain;
}
.moreThanIcon6 {
    position: absolute;
    top: 412px;
    left: 306px;
    width: 18px;
    height: 19.1px;
    object-fit: contain;
}
.colors {
    position: absolute;
    top: 341px;
    left: 56px;
    font-weight: 600;
    display: inline-block;
    width: 277px;
    height: 29px;
}
.aesthetics {
    position: absolute;
    top: 274px;
    left: 60px;
    font-weight: 600;
    display: inline-block;
    width: 277px;
    height: 29px;
}
.brands {
    position: absolute;
    top: 212px;
    left: 60px;
    font-weight: 600;
    display: inline-block;
    width: 277px;
    height: 29px;
}
.filterScreenChild {
    position: absolute;
    top: 196px;
    left: 67px;
    width: 265px;
    height: 1px;
    object-fit: contain;
}
.filterScreenItem {
    position: absolute;
    top: 256px;
    left: 68px;
    width: 265px;
    height: 1px;
    object-fit: contain;
}
.filterScreenInner {
    position: absolute;
    top: 320px;
    left: 67px;
    width: 265px;
    height: 1px;
    object-fit: contain;
}
.lineIcon {
    position: absolute;
    top: 388px;
    left: 68px;
    width: 265px;
    height: 1px;
    object-fit: contain;
}
.size {
    position: absolute;
    top: 406px;
    left: 56px;
    font-weight: 600;
    display: inline-block;
    width: 277px;
    height: 29px;
}
.filterScreenChild1 {
    position: absolute;
    top: 453px;
    left: 68px;
    width: 265px;
    height: 1px;
    object-fit: contain;
}
.occasion {
    position: absolute;
    top: 474px;
    left: 56px;
    font-weight: 600;
    display: inline-block;
    width: 277px;
    height: 29px;
}
.price {
    position: absolute;
    top: 537px;
    left: 56px;
    font-weight: 600;
    display: inline-block;
    width: 277px;
    height: 29px;
}
.itemType {
    position: absolute;
    top: 597px;
    left: 56px;
    font-weight: 600;
    display: inline-block;
    width: 277px;
    height: 29px;
}
.filterScreenChild2 {
    position: absolute;
    top: 637px;
    left: 68px;
    width: 265px;
    height: 1px;
    object-fit: contain;
}
.filterScreenChild3 {
    position: absolute;
    top: 579px;
    left: 67px;
    width: 265px;
    height: 1px;
    object-fit: contain;
}
.filterScreenChild4 {
    position: absolute;
    top: 521px;
    left: 67px;
    width: 265px;
    height: 1px;
    object-fit: contain;
}
.filterScreen {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 852px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color: #666;
    font-family: 'Urbanist';
}

